<main role="main">
<div class="container">
<h1 class="center">
        Team
    </h1>
    <div>
        <div class="row center">
    
            <!--    TODO: ADD YOUR INFO    -->
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Justin Maughan</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Web Developer</h6>
                    <img src="img/justin.jpg" class="card-img-top" alt="...">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
    
            <!--    TODO: ADD YOUR INFO    -->
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Martin Franz</h5>
                    <h6 class="card-subtitle mb-2 text-muted">CEO and Founder</h6>
                    <img src="img/martin.png" class="card-img-top" alt="...">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
    
            <!--    Bryce's Information    -->
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Bryce Skabelund</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Web Developer</h6>
                    <img src="img/bryce.jpg" class="card-img-top" alt="...">
                    <p class="card-text"> Bryce Skabelund graduated from USU 12/2019 with a bachelors in computer science.</p>
                </div>
            </div>
        </div>
    
    </div>
</div>
</main>