
<div class="center" style="padding-top: 60px">
        <h1>Company</h1>
</div>
<div class="center">
    <p> Artmastery is a marketplace, craft and maker community where people from around the world come together to buy, sell and. Our biggest value are the artists collaborating with us – they are the life-blood of our manufacture. At the moment we gather over 10,000 artists from all over the world which makes us really proud. Artsmastery has become a perfect platform for promoting those unusually talented people and their original and outstanding works.</p>
</div>
</div>        
<h1 class="center">
        Team
</h1>
<div>
    <div class="row center">

        <!--    TODO: ADD YOUR INFO    -->
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Justin Maughan</h5>
                <h6 class="card-subtitle mb-2 text-muted">Web Developer</h6>
                <img src="img/justin.jpg" class="card-img-top" alt="...">
                <p class="card-text">Justin Maughan is an expert web designer and front-end developer for clients around the world.</p>
            </div>
        </div>

        <!--    TODO: ADD YOUR INFO    -->
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Martin Franz</h5>
                <h6 class="card-subtitle mb-2 text-muted">CEO and Founder</h6>
                <img src="img/martin.png" class="card-img-top" alt="...">
                <p class="card-text">Martin Franz graduated with a german bachelor's accounting degree in 04/2018 and is currently working on his master's degree in Management Information Systems at USU.</p>
            </div>
        </div>

        <!--    Bryce's Information    -->
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Bryce Skabelund</h5>
                <h6 class="card-subtitle mb-2 text-muted">Web Developer</h6>
                <img src="img/bryce.jpg" class="card-img-top" alt="...">
                <p class="card-text"> Bryce Skabelund graduated from USU 12/2019 with a bachelors in computer science.</p>
            </div>
        </div>
    </div>
</div>


<%- contentFor('scriptsAfter') %>
<script type="module" src="/js/app.js"></script>

<%- contentFor('cssAfter')%>
<link rel="stylesheet" href="css/project.css" />