<main role="main" style="padding-top: 60px">
        <div class="container">
          <!-- Stack the columns on mobile by making one full-width and the other half-width -->
            <h1 id='cat'>
                <% if (search !== "undefined") { %>
                    <%- search %>
                <% } else { %>
                    Categories
                <% } %>
            </h1>
          <div class="container">
            <div id="displayartdiv" class="row displaydiv"> </div>
          </div>
        </div>
</main>

<%- contentFor('scriptsAfter') %>
<script type="module" src="/js/app.js"></script>

<%- contentFor('cssAfter')%>
<link rel="stylesheet" href="css/project.css" />