<main role="main" style="padding-top: 60px">
    <div class="container-fluid" style="height: auto; width: auto;">
        <!-- Stack the columns on mobile by making one full-width and the other half-width -->
        <h1 class="my-4 font-weight-bold" id='cat'>
          <% if (search !== "undefined") { %>
            <%- search %>
          <% } else { %>
            Categories
          <% } %>
        </h1>
        <div class="grid row" id="displayartdiv">
          <!-- Items to go here -->
        </div>
    </div>
</main>

<%- contentFor('scriptsAfter') %>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.js"></script>
<script type="module" src="/js/app.js"></script>


<%- contentFor('cssAfter')%>
<link rel="stylesheet" href="css/project.css" />