<main role="main">
        <div class="container">
          <!-- Stack the columns on mobile by making one full-width and the other half-width -->
          <h1>Sculpture</h1>
          <div class="container">
            <div id="displayartdiv" class="row displaydiv"> </div>
          </div>
        </div>
</main>