body{
  min-height:100vh; 
}
h1{
  margin: 1rem;
}
main > .container {
  margin-top:60px;
  padding: 60px 15px 0;
}
.carousel-img {
  width: fit-content;
  max-width: 100%;
  max-height: 600px;
  object-fit: scale-down;
  vertical-align: middle;
  padding-bottom: 30px;
  padding-top: 75px;
}
.footer {
  background-color: #f5f5f5;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
.center {
  margin-right: auto;
  margin-left: auto;
  align-content: center;
  justify-content: center;
  text-align: center;
}
.carousel-inner{
  max-height: 600px;
  background: #2e3133;
}
.navbar-brand{
  max-height: 30px;
  align-content: center;
}
.card{
  align-self: center;
  margin: 2rem;
}

.word{
  -webkit-column-break-inside: avoid !important;
          page-break-inside: avoid !important;
               break-inside: avoid !important;
}

.mason{
  padding: 1em; 
  column-count: 3;
}